.hero{
    width: 100vw;
    height: 100vh;
    background-color: var(--primary-color1);
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 50px;
    padding: 50px;
}
.web-theme{
    position: absolute;
    top: 30px;
    right: 30px;
    border: none;
    padding: 10px;
    background-color: var(--primary-color2);
    border-radius: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
    overflow: hidden;
}
.web-theme .dark_icon{
    transition-duration: 0.4s;
}
.web-theme .dark_icon2{    

    transform: translateY(50px);

}
.web-theme .dark_icon1{
        
      transform: translateY(0px);

}
.web-theme .white_icon{
    position: absolute;
    transition-duration: 0.4s;
}
.web-theme .white_icon2{
    transform: translateY(0px);
}
.web-theme .white_icon1{
      transform: translateY(-50px);

}
.hide{
    display: none;
}
.sign_in_page{
    display: flex;
    gap: 50px;
    align-items: center;
    justify-content: center;
}
.text-sec{
    width: 500px;
    /* width: 400px; */
    display: flex;
    flex-direction: column;
    gap: 30px;
    align-items: flex-start;
}
.text-sec .heading{
    font-size: 45px;
    font-weight: 900;
}
.text-sec .heading span{
    color: var(--secondary-color);
    font-weight: 900 !important;
}
.text-sec .subheading{
    font-size: 27px;
    font-weight: 200;
    font-family:'Smooch sans';
    
}
.seperator{
    border: 1px solid var(--secondary-color);
    height: 500px;
}

.log_in_sec{
    display: flex;
    flex-direction: column;
    width: 400px;
    gap: 30px;
    /* background-color: aqua; */
}


.log_in_sec .sign_in{
    /* background-color: antiquewhite; */
    display: flex;
    flex-direction: column  ;
    gap: 30px;

}

.log_in_sec .sign_in .app_name{
    font-size: 60px;
    text-align: center;
    text-transform: uppercase;
    font-weight: 700;
    font-family: 'Sansation';
    letter-spacing: 10px;
}

.log_in_sec .sign_in .input_sec{
    display: flex;
    flex-direction: column;
    gap: 10px;
}

.log_in_sec .sign_in .input_sec .input_field{
    display: flex;
    /* border: 2px solid rgba(151, 151, 151, 0.367); */
    background-color: var(--primary-color2);
    padding: 5px;
    border-radius: 5px;
    height: 50px;
    border: 2px solid gray;

}
.log_in_sec .sign_in .input_sec .input_field label{
    display: flex;  
    flex-direction: column;
    justify-content: center;
    gap: 3px;
    padding: 5px;
    width: 100%;
}
.log_in_sec .sign_in .input_sec .input_field label span{
    transition-duration: 0.3s;
    color: #808080;
}
.log_in_sec .sign_in .input_sec .input_field label .label1{
    font-size: 15px;
    transform:translateY(9px);
}
.log_in_sec .sign_in .input_sec .input_field label input{
    background-color: transparent;
    border: none;
    outline: none;
}

.log_in_sec .sign_in .input_sec .input_field:focus-within{
    border: 2px solid gray;
}


.log_in_sec .sign_in .input_sec .input_field label .label2{
    transform: translate(0);
    font-size: 12px;
}
.log_in_sec .sign_in .input_sec .input_field .passwordV{
    width: 40px;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    border: none;
    border-radius: 50%;
    transition-duration: 0.2s;
}

.log_in_sec .sign_in .input_sec .input_field .passwordV:hover{
    background-color: var(--icon-svg-color);
}
.log_in_sec .sign_in .input_sec .input_field .passwordV:hover .icon{
    fill: var(--primary-color1);
}
.icon{
    transition-duration: 0.2s;
    fill: var(--icon-svg-color);
}

.submit{
    padding: 10px;
    border-radius: 5px;
    margin-top: 10px;
    border: none;
    background-color: var(--secondary-color);
    color: white;
    font-size: medium;
    transition-duration: 0.2s;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 10px;
    transition-duration: 0.2s;
}

.submit:hover{
    background-color: var(--secondary-hover-color);
}

.loader{
    display: none;
    width: 25px;
    height: 25px;
    border-radius: 50%;
    border:2px solid var(--primary-color1);
    border-top-color: var(--secondary-color);
    animation: loader 1s infinite cubic-bezier(0.38, 0.09, 0.58, 0.86);
}
.authLogin{
    display: flex;
    gap: 20px;
    justify-content: center;
}
.authLogin button{
    padding: 5px;
    width: 200px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: var(--primary-color2);
    border-radius:  5px;
    border: 2px solid var(--border-color);
    
}
.authLogin button img{
    width: 25px;
    height: 25px;
    border-radius: 50%;
}

@keyframes loader {
    from{
        rotate: 0deg;
    }
    to{
           rotate: 360deg;
}
}

.bar{
    display: flex;
    color: var(--border-color);
    align-items: center;
    gap: 10px;
    padding-inline: 10px;
}
.bar .hseperator{
    width: 100%;
    height: 0px;
    border: 1px solid var(--border-color);
}

.forgetPassword{
    display: flex;
    justify-content: center;
    align-items: center;
    font-weight: 500;
    font-size: 14px;
}

.dontHaveAccount{
    display: flex;
    font-size: 14px;
    align-items: center;
    justify-content: center;
    gap: 5px;
}
.dontHaveAccount button{
    border: none;
    font-weight: 700;
    color: var(--secondary-color);
    font-size: 15px;
}
.error{
    display: flex;
    align-items: center;
    justify-content: center;
    color: rgb(186, 27, 27);
    font-size: 14px;
}



@media (max-width:1024px) {
    .text-sec{
        display: none;
    }
}

@media (max-width:470px) {
    .hero{
        padding: 30px;
    }
    .log_in_sec{
        width: 100%;
        
    }
    .authLogin button{
        width: 100%;
    
}